In [1]:
import pandas as pd
import numpy as np

**Fetching the CSV file**

In [2]:
df = pd.read_csv('C:/Users/Bhavesh/Desktop/Product.csv')
df.head()

,uuid,price_string,price_string_unf,product_type,level_1,category
0,638744a4-b0ae-4166-8cb6-5c063c862036,NaN,NaN,TGFwdG9wIENvdmVycy9CYWdz,TGFwdG9wIENhc2U,RWxlY3Ryb25pY3M
1,ab313969-02cc-48b2-9daf-0054efb70b92,NaN,NaN,QmFraW5nIEN1cHMgYW5kIE1hdHM,QmFraW5nIE1hdHMgLyBCYWtpbmcgZGlzaA,a2l0Y2hpbmcgYW5kIGRpbmluZw
2,acbd66ff-79f8-467a-91f9-108a45af5626,$19.95,NaN,R3VtbWllcyB2aXRhbWlucyBhbmQgbWluZXJhbHMgZm9yIG...,SW1tdW5pdHkgZ3VtbWllcw,SGVhbHRo
3,963915d6-b2e3-4098-b242-9410593cf205,$92.00,NaN,U2VydW1z,RmFjZSBTZXJ1bQ,YmVhdXR5IGFuZCBwZXJzb25hbCBjYXJl
4,b5b68f3c-b1e0-40e5-8ee5-e2f7236c1daf,11.5,NaN,RWF0aW5nIFV0ZW5zaWxzL0N1dGxlcnk,Q2hvcHN0aWNrcw,a2l0Y2hpbmcgYW5kIGRpbmluZw

In [3]:
len(df)

1048575

In [4]:
col = df.columns
col

Index(['uuid', 'price_string', 'price_string_unf', 'product_type', 'level_1',
       'category'],
      dtype='object')

In [5]:
df.count()

uuid                1048575
price_string         421130
price_string_unf      23597
product_type        1047809
level_1             1044876
category            1047809
dtype: int64

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048575 entries, 0 to 1048574
Data columns (total 6 columns):
 #   Column            Non-Null Count    Dtype
---  ------            --------------    -----
 0   uuid              1048575 non-null  object
 1   price_string      421130 non-null   object
 2   price_string_unf  23597 non-null    object
 3   product_type      1047809 non-null  object
 4   level_1           1044876 non-null  object
 5   category          1047809 non-null  object
dtypes: object(6)
memory usage: 48.0+ MB

### **Correct Product Prices**

*  Extracting the price value without currency symbol from price_string and storing it into Corrected_Price.
*  Used replace function to change ' , ' and '$'.
*  Also changed extracted values to 'flaot' data type.

In [8]:
df['Corrected_Price'] = df['price_string'].str.replace(',','').str.replace('$','').astype('float')
df['Corrected_Price'].head()

<ipython-input-8-453422cefb12>:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will*not* be treated as literal strings when regex=True.
  df['Corrected_Price'] = df['price_string'].str.replace(',','').str.replace('$','').astype('float')

0      NaN
1      NaN
2    19.95
3    92.00
4    11.50
Name: Corrected_Price, dtype: float64

In [9]:
df['Corrected_Price'].value_counts()

0.00      18545
89.00      9162
75.00      8204
9.99       7729
80.00      6854
          ...
155.85      715
35.96       714
119.97      705
19.56       701
20.95       698
Name: Corrected_Price, Length: 217, dtype: int64

### **Product without prices**

* used the notnull function on Corrected_Price
* here we are fetching only values which are null

In [10]:
df_null = df[~df['Corrected_Price'].notnull()]
df_null.head()

,uuid,price_string,price_string_unf,product_type,level_1,category,Corrected_Price
0,638744a4-b0ae-4166-8cb6-5c063c862036,NaN,NaN,TGFwdG9wIENvdmVycy9CYWdz,TGFwdG9wIENhc2U,RWxlY3Ryb25pY3M,NaN
1,ab313969-02cc-48b2-9daf-0054efb70b92,NaN,NaN,QmFraW5nIEN1cHMgYW5kIE1hdHM,QmFraW5nIE1hdHMgLyBCYWtpbmcgZGlzaA,a2l0Y2hpbmcgYW5kIGRpbmluZw,NaN
5,389d9f75-cc3f-4bd2-94f7-93e381a3bed5,NaN,NaN,TmF0dXJhbCBTd2VldGVuZXJzLyBTdWdhcg,TW9uayBGcnVpdA,Z3JvY2VyaWVz,NaN
13,1f2766ec-0a27-43f8-b28b-77a44492ead1,NaN,NaN,U2NydWJzIGFuZCBjbGVhbmluZyBjbG90aHM,U2NydWJz,SG91c2Vob2xkIGFuZCBDbGVhbmluZw,NaN
16,7bad39f5-74b9-4611-afb9-46fb135190cd,NaN,NaN,UGx1cyBzaXplIHdlYXIgZHJlc3M,RHJlc3M,Q2xvdGhpbmcgYW5kIEFjY2Vzc29yaWVz,NaN

* Here we are fetching values which are null.

In [11]:
df_not_null = df[df['Corrected_Price'].notnull()]
df_not_null.head()

,uuid,price_string,price_string_unf,product_type,level_1,category,Corrected_Price
2,acbd66ff-79f8-467a-91f9-108a45af5626,$19.95,NaN,R3VtbWllcyB2aXRhbWlucyBhbmQgbWluZXJhbHMgZm9yIG...,SW1tdW5pdHkgZ3VtbWllcw,SGVhbHRo,19.95
3,963915d6-b2e3-4098-b242-9410593cf205,$92.00,NaN,U2VydW1z,RmFjZSBTZXJ1bQ,YmVhdXR5IGFuZCBwZXJzb25hbCBjYXJl,92.00
4,b5b68f3c-b1e0-40e5-8ee5-e2f7236c1daf,11.5,NaN,RWF0aW5nIFV0ZW5zaWxzL0N1dGxlcnk,Q2hvcHN0aWNrcw,a2l0Y2hpbmcgYW5kIGRpbmluZw,11.50
6,9599f1a9-d406-43eb-89f5-9b1c0af1ac9a,$24.99,NaN,TW9wcyBhbmQgYnJvb21z,TW9w,SG91c2Vob2xkIGFuZCBDbGVhbmluZw,24.99
7,35799087-f6f4-4ca2-abfe-cbb5c27d2f1a,$148.00,NaN,V29tZW5zIFBhbnRz,V29tZW5zIFJlZ3VsYXIvQ2FzdWFsIFBhbnRz,Q2xvdGhpbmcgYW5kIEFjY2Vzc29yaWVz,148.00

### **Count Of Products**

* Counted the products having null values and used value_counts to calculate only unique product counts.

In [12]:
for i in col[3:]:
  print('\n Number of {0} not having product prices are : \n'.format(i),df_null[i].value_counts())

 Number of product_type not having product prices are :
 V29tZW5zIHN3aW13ZWFy                      10673
V29tZW5zIHdvcmt3ZWFyLyBvZmZpY2Ugd2Vhcg    10052
VG9kZGxlcnMvbmV3Ym9ybiBiYWJpZXM            9718
UGx1cyBzaXplIHdlYXI                        9113
VmVoaWNsZSBUb3lz                           9070
                                          ...
RXllIGxpbmVy                                718
TGFwdG9wcw                                  708
SG9uZXk                                     707
TGFjdG9zZSBmcmVlIEJhYnkgRm9ybXVsYQ          696
TW9pc3R1cml6ZXJz                            684
Name: product_type, Length: 278, dtype: int64

 Number of level_1 not having product prices are :
 Rm9ybWFsIFN1aXRz                              4689
U3dlYXRzaGlydA                                4441
U29ja3M                                       3778
Rm9ybWFsIFBhbnRz                              3728
U3dlYXRlcg                                    3131
                                              ...
VmVnYW4gSG9uZXk                                707
U2NydWIgYnJ1c2g                                700
TGFjdG9zZSBJbnRvbGVyYW50IGJhYnkgZm9ybXVsYQ     696
RXh0ZXJpb3IgUGFpbnQ                            690
RmFjZSBNb2lzdHVyaXplcnM                        684
Name: level_1, Length: 476, dtype: int64

 Number of category not having product prices are :
 Q2xvdGhpbmcgYW5kIEFjY2Vzc29yaWVz       156463
Z3JvY2VyaWVz                            86103
SG91c2Vob2xkIGFuZCBDbGVhbmluZw          66663
YmVhdXR5IGFuZCBwZXJzb25hbCBjYXJl        54658
SGVhbHRo                                53373
VG95cyBhbmQgR2FtZXM                     45725
cGV0IHN1cHBsaWVz                        44406
QmFieWNhcmU                             43568
VG9vbHMgYW5kIGhvbWUgaW1wcm92ZW1lbnQ     24393
a2l0Y2hpbmcgYW5kIGRpbmluZw              19045
RWxlY3Ryb25pY3M                         16105
QXJ0IHN1cHBsaWVz                        10058
b2ZmaWNlIHByb2R1Y3Rz                     6119
Name: category, dtype: int64

In [13]:
for i in col[3:]:
  print('\n Number of {0} having product prices are: \n'.format(i),df_not_null[i].value_counts())

 Number of product_type having product prices are:
 U2NydWJzIGFuZCBjbGVhbmluZyBjbG90aHM    10613
d29tZW5zIE91dGVyd2Vhcg                 10042
Q29va2luZyBVdGVuc2lscw                  8188
V29tZW5zIFBhbnRz                        7008
WW9nYSBBY2Nlc3Nvcmllcy8gR2Vhcg          6978
                                       ...
RXllIE1hc2s                              720
Qm9keSBMb3Rpb25zLyBNb2lzdHVyaXplcnM      712
Qm9keXdhc2g                              705
U3RvcmFnZQ                               699
SnVtcHN1aXRzL092ZXJhbGw                  690
Name: product_type, Length: 209, dtype: int64

 Number of level_1 having product prices are:
 U3Bvb24sIEtuaWZlIGFuZCBGb3Jr       4503
TWVucyBTdHJhaWdodCBGaXQgamVhbnM    3867
UHVmZmVyIEphY2tldA                 3763
Q2xlYW5pbmcgY2xvdGg                3739
UHVmZmVyIFZlc3Q                    3120
                                   ...
S25pdHRpbmcgbmVlZGxlcw              705
Tm90ZWJvb2s                         703
TW9w                                702
QmFza2V0cw                          699
SnVtcHN1aXRzL092ZXJhbGw             690
Name: level_1, Length: 366, dtype: int64

 Number of category having product prices are:
 Q2xvdGhpbmcgYW5kIEFjY2Vzc29yaWVz       142172
YmVhdXR5IGFuZCBwZXJzb25hbCBjYXJl        57360
SG91c2Vob2xkIGFuZCBDbGVhbmluZw          53622
Z3JvY2VyaWVz                            36927
a2l0Y2hpbmcgYW5kIGRpbmluZw              25581
SGVhbHRo                                22186
VG9vbHMgYW5kIGhvbWUgaW1wcm92ZW1lbnQ     15246
QXJ0IHN1cHBsaWVz                        14511
VG95cyBhbmQgR2FtZXM                     14455
cGV0IHN1cHBsaWVz                        12146
b2ZmaWNlIHByb2R1Y3Rz                    11572
RWxlY3Ryb25pY3M                          8442
QmFieWNhcmU                              6910
Name: category, dtype: int64

### **Categories with average price of product**

* Used the groupby function to first group the data on the basis of 'category'.
* Then calculate average of the 'Corrected_Price' for each category.

In [14]:
df_new = df.groupby(['category']).Corrected_Price.mean()

In [15]:
df_new

category
Q2xvdGhpbmcgYW5kIEFjY2Vzc29yaWVz       125.665667
QXJ0IHN1cHBsaWVz                        18.987722
QmFieWNhcmU                            160.514702
RWxlY3Ryb25pY3M                         60.332584
SG91c2Vob2xkIGFuZCBDbGVhbmluZw          76.081490
SGVhbHRo                                32.521441
VG95cyBhbmQgR2FtZXM                     32.419166
VG9vbHMgYW5kIGhvbWUgaW1wcm92ZW1lbnQ     81.245786
YmVhdXR5IGFuZCBwZXJzb25hbCBjYXJl        34.962463
Z3JvY2VyaWVz                            10.541907
a2l0Y2hpbmcgYW5kIGRpbmluZw              16.741958
b2ZmaWNlIHByb2R1Y3Rz                    20.726301
cGV0IHN1cHBsaWVz                        14.155223
Name: Corrected_Price, dtype: float64