In [24]:
import pandas as pd
import numpy as np

In [25]:
df = pd.read_csv('C:/Users/Bhavesh/Desktop/Product.csv')

In [26]:
df.head()

,uuid,price_string,price_string_unf,product_type,level_1,category
0,638744a4-b0ae-4166-8cb6-5c063c862036,NaN,NaN,TGFwdG9wIENvdmVycy9CYWdz,TGFwdG9wIENhc2U,RWxlY3Ryb25pY3M
1,ab313969-02cc-48b2-9daf-0054efb70b92,NaN,NaN,QmFraW5nIEN1cHMgYW5kIE1hdHM,QmFraW5nIE1hdHMgLyBCYWtpbmcgZGlzaA,a2l0Y2hpbmcgYW5kIGRpbmluZw
2,acbd66ff-79f8-467a-91f9-108a45af5626,$19.95,NaN,R3VtbWllcyB2aXRhbWlucyBhbmQgbWluZXJhbHMgZm9yIG...,SW1tdW5pdHkgZ3VtbWllcw,SGVhbHRo
3,963915d6-b2e3-4098-b242-9410593cf205,$92.00,NaN,U2VydW1z,RmFjZSBTZXJ1bQ,YmVhdXR5IGFuZCBwZXJzb25hbCBjYXJl
4,b5b68f3c-b1e0-40e5-8ee5-e2f7236c1daf,11.50,NaN,RWF0aW5nIFV0ZW5zaWxzL0N1dGxlcnk,Q2hvcHN0aWNrcw,a2l0Y2hpbmcgYW5kIGRpbmluZw

In [27]:
df.columns

Index(['uuid', 'price_string', 'price_string_unf', 'product_type', 'level_1',
       'category'],
      dtype='object')

In [30]:
df.count()

uuid                13730000
price_string         5510000
price_string_unf      310000
product_type        13720000
level_1             13680000
category            13720000
dtype: int64

In [29]:
df.dtypes

uuid                object
price_string        object
price_string_unf    object
product_type        object
level_1             object
category            object
dtype: object

In [52]:
df['price_string'] = df['price_string'].astype(int)

ValueError: invalid literal for int() with base 10: 'nan'

In [ ]:
df.dtypes

In [46]:
df.isna().sum()

uuid                       0
price_string               0
price_string_unf    13420000
product_type           10000
level_1                50000
category               10000
new_PS                     0
dtype: int64

In [48]:
df.columns[df.columns.str.contains(pat = 'spike')]

Index([], dtype='object')

In [6]:
df.describe()

,uuid,price_string,price_string_unf,product_type,level_1,category
count,13730000,5510000,310000,13720000,13680000,13720000
unique,1373,248,26,321,595,13
top,f3de50d4-3195-4310-b470-5cb306cde951,$0.00,$6.75,U2NydWJzIGFuZCBjbGVhbmluZyBjbG90aHM,U3dlYXRzaGlydA,Q2xvdGhpbmcgYW5kIEFjY2Vzc29yaWVz
freq,10000,240000,30000,200000,90000,3910000